.gallery {
    grid-column: full-start / full-end;
    padding: 1.5rem;

    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr) );
    // grid-template-rows: masonry;
    grid-auto-rows: 20rem;
    grid-auto-flow: dense;

    & > *:nth-child(4n+1) {
        grid-column: span 2;
    }
    & > *:nth-child(4n+3) {
        grid-column: span 2;
        grid-row: span 2;
    }
    & > *:nth-child(4n+7) {
        grid-row: span 2;
    }

    &__img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
}